# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE files
.vscode/*
!.vscode/settings.json

# Operating system files
.DS_Store
Thumbs.db

# Generated analysis outputs
reports/figures/*.png
reports/figures/*.jpg

# PyMC and temporary files
*.pkl
*.pickle

# Logs
*.log